{{ template "base" . }} {{ define "title" }}Create post{{ end }} {{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {{ if eq .IsSession false }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signin">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signup">Sign up</a>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signout">Sign out</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
{{ end }} {{ define "main" }}
<form action="/create/post" method="POST">

    <div class="mb-3">
        <label for="TitleInput" class="form-label">Titile</label>
        <input maxlength="58" name="title" type="text" class="form-control" id="TitleInput" required>
        <div class="form-text">Maximum of 58 characters</div>
    </div>

    <div class="mb-3">
        <label for="TextInput" class="form-label">Text</label>
        <textarea name="text" class="form-control" maxlength="10000" id="TextInput" rows="3" required></textarea>
        <div class="form-text">Maximum of 10000 characters</div>
    </div>

    <div class="textblock__input" id="b_TagEditor">
        <input type="text" placeholder="...">
    </div>
    <textarea type="text" name="tags" class="d-none" id="tb_TagEditor" required></textarea>
    <div class="form-text">Maximum of 10 tags and length of 1 tag maximum of 16 characters</div>

    <button class="btn btn-primary">Post</button>

</form>

{{ end }}