{{ template "base" . }}

{{ define "title" }}Post page{{ end }}

{{ define "main" }}

{{ range .Posts }}

<a href="/post?id={{ .ID }}">
    <h2>{{ .Title }}</h2>
</a>
<p>Text: {{ .Text }}</p>

<p>
    Tags:
    {{ range .Tags }}
    <a href="/filter?tag={{ . }}">{{ . }}</a>
    {{ end }}
</p>

<p>Created: {{ .Created }}</p>

<form action="/post/vote" method="POST">
    <label><button name="like" value="{{ .ID }}">Like</button>{{ .Votes.Like }}</label>
    <label><button name="dislike" value="{{ .ID }}">Dislike</button>{{ .Votes.Dislike }}</label>
</form>
<p>Author: <a href="/user/profile?login={{ .UserLogin }}">{{ .UserLogin }}</a></p>

{{ end }}

{{ end }}