{{ template "base" . }}

{{ define "title" }}Post page{{ end }}

{{ define "main" }}

{{ range .Posts }}

<a href="/post?id={{ .ID }}">
    <h2>{{ .Title }}</h2>
</a>
<p>Text: {{ .Text }}</p>

<p>
    Tags:
    {{ range .Tags }}
    <a href="/filter?tag={{ . }}">{{ . }}</a>
    {{ end }}
</p>

<p>Created: {{ .Created }}</p>

<p>Comments:</p>
{{ range .Comments }}
<p>{{ . }}</p>
{{ end }}

<form action="/create/comment?post={{.ID}}" method="POST">
    <textarea name="text" cols="30" rows="10" placeholder="Comment" required></textarea>
    <input type="submit">
</form>

<p>Author: <a href="/user/profile?login={{ .UserLogin }}">{{ .UserLogin }}</a></p>

{{ end }}

{{ end }}