{{ template "base" . }}

{{define "title"}}Main page{{end}}

{{ define "main" }}

{{ if eq .IsSession false }}
<a href="/user/signup">Sign Up</a>
<a href="/user/signin">Sign In</a>
{{ else }}
<a href="/user/signout">Sign out</a>
<a href="/user/profile?login={{ .User.Login }}">Profile</a>
{{ end }}
<a href="/create/post">create post</a>

<h2>Posts:</h2>
{{ range .Posts }}
<hr>
<p>Title: {{ .Title }}</p>
<p>Text: {{ .Text }}</p>
<!-- тэги это массив -->
<p>
    Tags:
    {{ range .Tags }}
    <a href="/post?tag={{ . }}">{{ . }}</a>
    {{ end }}
</p>
<p>Created: {{ .Created }}</p>

<p>Comments:</p>
{{ range .Comments }}
<p>{{ . }}</p>
{{ end }}

<form action="/create/comment?post={{.ID}}" method="POST">
    <textarea name="text" cols="30" rows="10" placeholder="Comment" required></textarea>

    <input type="submit">
</form>

<p>Author: <a href="/user/profile?login={{ .UserLogin }}">{{ .UserLogin }}</a></p>
{{ end }}

{{ end }}