{{ template "base" . }}

{{ define "title" }}Main page{{ end }}

{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {{ if eq .IsSession false }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signin">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signup">Sign up</a>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signout">Sign out</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
{{ end }}

{{ define "main" }}

<!-- Create Post Button -->
<a class="btn btn-secondary" href="/create/post" role="button">Create Post</a>

<!-- Modal button -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Filter by tags
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tags</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ range .Tags }}
                <a href="/filter?tag={{ . }}">{{ . }}</a> |
                {{ end }}
            </div>
        </div>
    </div>
</div>


<h2>Posts:</h2>
{{ range .Posts }}


<div class="card text-center">
    <div class="card-header">
        <a href="/post?id={{ .ID }}" class="link-dark">Go to the post</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <a href="/user/profile?login={{ .UserLogin }}" class="btn btn-primary">{{ .UserLogin}}</a>
    </div>
    <div class="card-footer text-muted">
        {{ range .Tags}}
        <a href="/filter?tag={{ . }}">{{ . }}</a>
        {{ end }}
        <br>
        {{ .Created }}
    </div>
</div>
<br>

{{ end }}

{{ end }}