{{ template "base" . }}

{{ define "title" }}Main page{{ end }}

{{ define "main" }}

{{ if eq .IsSession false }}
<a href="/user/signup">Sign Up</a>
<a href="/user/signin">Sign In</a>
{{ else }}
<a href="/user/signout">Sign out</a>
<a href="/user/profile?login={{ .User.Login }}">Profile</a>
{{ end }}
<a href="/create/post">create post</a>

<p>Filter:</p>
{{ range .Tags }}
<a href="/filter?tag={{ . }}">{{ . }}</a>
{{ end }}

<h2>Posts:</h2>
{{ range .Posts }}
<hr>

<a href="/post?id={{ .ID }}">
    <h2>{{ .Title }}</h2>
</a>
<p>Text: {{ .Text }}</p>

<p>
    Tags:
    {{ range .Tags }}
    <a href="/filter?tag={{ . }}">{{ . }}</a>
    {{ end }}
</p>
<p>Created: {{ .Created }}</p>

<p>Like: {{ .Votes.Like }}</p>
<p>Dislike: {{ .Votes.Dislike }}</p>
<form action="/post/vote" method="POST">
    <label><button name="like" value="{{ .ID }}">Like</button>{{ .Votes.Like }}</label>
    <label><button name="dislike" value="{{ .ID }}">Dislike</button>{{ .Votes.Dislike }}</label>
</form>
<p>Author: <a href="/user/profile?login={{ .UserLogin }}">{{ .UserLogin }}</a></p>

{{ end }}

{{ end }}