{{ template "base" . }}

{{ define "title" }}Post page{{ end }}

{{ define "main" }}

<h3>Title: {{ .Post.Title }}</h3>
<p>Text: {{ .Post.Text }}</p>

<p>
    Tags:
    {{ range .Post.Tags }}
    <a href="/filter?tag={{ . }}">{{ . }}</a>
    {{ end }}
</p>

<p>Created: {{ .Post.Created }}</p>

<p>Comments:</p>
{{ range .Post.Comments }}
<p>{{ . }}</p>
<form action="/comment/vote" method="POST">
    <label><button name="like" value="{{ .ID }}">Like</button>{{ .Votes.Like }}</label>
    <label><button name="dislike" value="{{ .ID }}">Dislike</button>{{ .Votes.Dislike }}</label>
</form>
{{ end }}

<form action="/create/comment?post={{.Post.ID}}" method="POST">
    <textarea name="text" cols="30" rows="10" placeholder="Comment" required></textarea>
    <input type="submit">
</form>


<form action="/post/vote" method="POST">
    <label><button name="like" value="{{ .Post.ID }}">Like</button>{{ .Post.Votes.Like }}</label>
    <label><button name="dislike" value="{{ .Post.ID }}">Dislike</button>{{ .Post.Votes.Dislike }}</label>
</form>
<p>Author: <a href="/user/profile?login={{ .Post.UserLogin }}">{{ .Post.UserLogin }}</a></p>

{{ end }}