{{ template "base" . }}

{{ define "title" }}Post page{{ end }}

{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {{ if eq .IsSession false }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signin">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signup">Sign up</a>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signout">Sign out</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
{{ end }}

{{ define "main" }}

<!-- POST -->
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">{{ .Post.Title }}</h5>
    </div>
    <div class="card-body">
        <p class="card-title">
            {{ .Post.Text }}
        </p>
        <a href="/user/profile?login={{ .Post.UserLogin }}" class="btn btn-primary">{{ .Post.UserLogin }}</a>
    </div>
    <div class="card-footer text-muted">
        {{ range .Post.Tags}}
        <a href="/filter?tag={{ . }}">{{ . }}</a>
        {{ end }}
        <br>
        {{ .Post.Created }}
        <form action="/post/vote" method="POST">
            <label><button class="btn btn-success" name="like" value="{{ .Post.ID }}">Like</button> -
                {{ .Post.Votes.Like }}</label>
            <label><button class="btn btn-danger" name="dislike" value="{{ .Post.ID }}">Dislike</button> -
                {{ .Post.Votes.Dislike }}</label>
        </form>
    </div>
</div>
<br>

<hr>

<!-- Create Comment -->
<form action="/create/comment?post={{.Post.ID}}" method="POST">
    <div class="form-floating">
        <textarea maxlength="200" class="form-control" name="text" placeholder="Leave a comment here"
            id="floatingTextarea2" style="height: 100px" required></textarea>
        <label for="floatingTextarea2">Comments</label>
        <div class="form-text">Maximum of 200 characters</div>
    </div>
    <br>
    <button class="btn btn-primary">Comment</button>
</form>

<!-- Comments -->
<p>Comments:</p>

{{ range .Post.Comments }}

<hr>

<div class="card text-center">
    <h5 class="card-header"><a class="link-dark" href="/user/profile?login={{ .Login }}">{{.Login}}</a></h5>
    <div class="card-body">
        <p class="card-text">{{ .Text }}</p>
    </div>
    <div class="card-footer text-muted">
        {{ .Created }}
        <form action="/comment/vote" method="POST">
            <label><button class="btn btn-success" name="like" value="{{ .ID }}">Like</button> -
                {{ .Votes.Like }}</label>
            <label><button class="btn btn-danger" name="dislike" value="{{ .ID }}">Dislike</button> -
                {{ .Votes.Dislike }}</label>
        </form>
    </div>
</div>

{{ end }}

{{ end }}