{{ template "base" . }}

{{ define "title" }}Post page{{ end }}

{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {{ if eq .IsSession false }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signin">Sign in</a>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signout">Sign out</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
{{ end }}

{{ define "main" }}

<h3>Title: {{ .Post.Title }}</h3>
<p>Text: {{ .Post.Text }}</p>

<p>
    Tags:
    {{ range .Post.Tags }}
    <a href="/filter?tag={{ . }}">{{ . }}</a>
    {{ end }}
</p>

<p>Created: {{ .Post.Created }}</p>

<p>Comments:</p>
{{ range .Post.Comments }}
<p>{{ . }}</p>
<form action="/comment/vote" method="POST">
    <label><button name="like" value="{{ .ID }}">Like</button>{{ .Votes.Like }}</label>
    <label><button name="dislike" value="{{ .ID }}">Dislike</button>{{ .Votes.Dislike }}</label>
</form>
{{ end }}

<form action="/create/comment?post={{.Post.ID}}" method="POST">
    <textarea name="text" cols="30" rows="10" placeholder="Comment" required></textarea>
    <input type="submit">
</form>

<form action="/post/vote" method="POST">
    <label><button name="like" value="{{ .Post.ID }}">Like</button>{{ .Post.Votes.Like }}</label>
    <label><button name="dislike" value="{{ .Post.ID }}">Dislike</button>{{ .Post.Votes.Dislike }}</label>
</form>
<p>Author: <a href="/user/profile?login={{ .Post.UserLogin }}">{{ .Post.UserLogin }}</a></p>

{{ end }}