{{ template "base" . }}

{{ define "title" }}Profile{{ end }}

{{ define "main" }}
<!-- <p><strong>Login:</strong> {{ .User.Login }}</p>
<p><strong>Email:</strong> {{ .User.Email }}</p>
<p><strong>Created:</strong> {{ .User.Created }}</p>
<p><strong>Posts:</strong> тут пока ничево:) </p> -->
<div class="card" style="width: 18rem;">
    <img src="/static/img/avatar.jpg" class="card-img-top" alt="avatar">
    <div class="card-body">
        <p class="card-text"><strong>Login:</strong> {{ .User.Login }}</p>
        <p class="card-text"><strong>Email:</strong> {{ .User.Email }}</p>
        <p class="card-text"><strong>Created:</strong> {{ .User.Created }}</p>
        <!-- <p class="card-text"><strong>Posts:</strong> {{ .User.Login }}</p> -->
    </div>
</div>

{{ end }}