{{ template "base" . }}

{{ define "title" }}Sign in{{end}}

{{ define "main" }}
<form action="/user/signin" method="POST">
    <div class="container auth-form">

        <!-- Login -->
        <div class="mb-3">
            <label for="InputLogin1" class="form-label">Login</label>
            <input type="text" class="form-control" name="login" id="InputLogin1" pattern="[a-zA-Z0-9]+" maxlength="16" placeholder="Biba" required>
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label for="InputPassword1" class="form-label">Password</label>
            <input id="password" class="form-control" name="password" type="password" pattern="^\S{6,}$" placeholder="Password" required>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
    {{ template "errors" . }}
</form>
{{ end }}