{{ template "base" . }}

{{ define "title" }}Sign up{{ end }}

{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {{ if eq .IsSession false }}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/user/signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signin">Sign in</a>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/signout">Sign out</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
{{ end }}

{{ define "main" }}
<form action="/user/signup" method="POST">

    <div class="auth-form">

        <!-- Login -->
        <div class="mb-3">
            <label for="InputLogin1" class="form-label">Login</label>
            <input type="text" class="form-control" name="login" maxlength="16" id="InputLogin1" placeholder="Abobus"
                pattern="[a-zA-Z0-9]+" required>
            <div class="form-text">The login must be a maximum of 16 characters and valid characters "a-zA-Z0-9".</div>
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="InputEmail1" placeholder="biba@boba.com"
                aria-describedby="emailHelp" required>
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label for="InputPassword1" class="form-label">Password</label>
            <input id="password" class="form-control" name="password" type="password" pattern="^\S{6,}$"
                onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.confirm.pattern = this.value;"
                placeholder="Password" required>
        </div>

        <!-- Confirm Password -->
        <div class="mb-3">
            <label for="InputConfirm1" class="form-label">Confirm password</label>
            <input id="confirm" name="confirm" class="form-control" type="password" pattern="^\S{6,}$"
                onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
                placeholder="Verify Password" required>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>

    {{ template "errors" . }}
</form>
{{ end }}