body {
    overflow-x: hidden;
}

.warning {
    color: red;
}

.auth-form {
    max-width: 300px;
    margin: 0 auto;
}

textarea {
    width: 100%;
    /* Ширина поля в процентах */
    height: 100px;
    /* Высота поля в пикселах */
    resize: none;
    /* Запрещаем изменять размер */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.main {
    margin-top: 70px;
    margin-bottom: 55px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 55px;
    width: 100%;
}


/* SCROLL */

.box {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 36px;
}