.warning {
    color: red;
}

.auth-form {
    max-width: 300px;
    margin: 0 auto;
}

textarea {
    width: 100%; /* Ширина поля в процентах */
    height: 100px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
}

.navbar {
    position: fixed;   
    top: 0;   
    left: 0;   
    z-index: 9999;   
    width: 100%;  
}

.main {
    margin-top: 70px;
}